@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: white;
    --secondary-color: #D9D9D9;
    --text-positive-color: #069855;
    --text-negative-color: #D62525;
    --text-hightlight-color: #534feb;
    --btn-color: #F5F5F5;
    --table-color: #F5F5F5;
    --border-radius: 0.5px;
}

th, td {
    @apply px-4 py-[22px];
}